{% extends 'base.html' %}

{% block head %}


      <link rel = "stylesheet" href= "/static/css/main.css">

{% endblock %}


{% block body %}

<div class = 'DG_Title'>
      <h1>Your Design Guide</h1>
</div>
<div class = 'dg_content'>
      
      <div class = 'your_element'>
            <h3>Your Font</h3>
            <br>
            <a class = 'download' href="/font/download" download="{{user.name}}'s_font">Download</a>

      

            <div class = 'edit'>
                  <a href="/elements/update/font">edit</a>
            </div>

      </div>


      <div class = 'your_element'>
            <h3>Your Logo</h3>
            <br>
            <a class = 'download' href="/logo/download" download="{{user.name}}'s_logo">Download</a>

            <div class = 'edit'>
                  <a href="/elements/update/logo">edit</a>
            </div>

      </div>



      <div class = 'your_element'>
            <h3>Your Color Palette</h3>

            {% for color in colors %}

            <p>{{color.color1}}</p>
            <p>{{color.color2}}</p>
            <p>{{color.color3}}</p>
            <p>{{color.color4}}</p>
            <p>{{color.color5}}</p>
            <p>{{color.color6}}</p>
            
            {% endfor %}

            <div class = 'edit'>
                  <a href="/elements/update/color_palette" >edit</a>
            </div>

            
      </div>

      <div class = 'your_element'>
            <h3>Your Key Words</h3>

            {% for keyword in keywords %}

            <p>{{keyword.keyword1}}</p>
            <p>{{keyword.keyword2}}</p>
            <p>{{keyword.keyword3}}</p>
            <p>{{keyword.keyword4}}</p>
            <p>{{keyword.keyword5}}</p>
            <p>{{keyword.keyword6}}</p>

            {% endfor %}
            
      
            <div class = 'edit'>
                  <a href="/elements/update/keywords">edit</a>
            </div>

       
            
      </div>
      <p style="color: tomato;">{{error}}</p>
</div>
{% endblock %}