{% extends 'base.html' %}

{% block title %}Design Elements{% endblock %}

<body>
  {% block body %}

<section class = element_form>

  <h1>Upload your {{element.name}}</h1>

{% if element.name == 'Logo' %}
    <form action = "/elements/logo/upload" enctype="multipart/form-data" method="POST">
        <input type= "file" name="Logo" onchange="form.submit()" accept=".png">
    </form>
{% elif element.name == 'Font' %}
<form action = "/elements/font/upload" enctype="multipart/form-data" method="POST">
    <input type= "file" name="Font" onchange="form.submit()" accept=".otf, .ttf, .fnt">
</form>

{% elif element.name == 'Color Palette' %}
  
<form action = "/elements/color/upload" method="POST">
  {% for i in range(1, 7) %}
    <label for="color{{i}}"></label>
    <input type= "text" name="color{{i}}" id = 'color{{i}}' placeholder ='Color HEX Value {{i}}'><br><br>
  {% endfor %}
    <div class ="element_submit">
      <input type= "submit" value="Submit" >
    </div>
    
</form>
    {% if error %}
    <p style = 'color: tomato;'>{{error}}</p>
      
    {% elif success %}
    <p>{{success}}</p>

    {% endif %}

{% elif element.name == 'Key Words' %}
<form action = "/elements/keywords/upload" enctype="multipart/form-data" method="POST">
  {% for i in range(1, 7) %}
    <label for="keyword{{i}}"></label>
    <input type= "text" name="keyword{{i}}" id = 'keyword{{i}}' placeholder ='Key Word {{i}}'><br><br>
  {% endfor %}
    <div class ="element_submit">
      <input type= "submit" value="Submit" onchange="form.submit()">
    </div>
</form>

  {% if error %}
  <p style = 'color: tomato;'>{{error}}</p>
    
  {% elif success %}
  <p>{{success}}</p>

{% endif %}

{% endif %}

<div class = 'back'>
<a href="/elements">Back to all Design Elements</a>
</div>
  </section>
  {% endblock %}

</body>

